<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Moberg + Smoliak Wedding</h2>
		<h3>4pm - Saturday, September 23rd, 2023</h3>
		<p><a href="http://maps.apple.com/?daddr=8300+W+Franklin+Ave,+Minneapolis+MN">Westwood Hills Nature Center, Minneapolis, MN</a></p>
		<ul class="actions vertical">
			<li><a href="https://www.hitchd.com/nightgardeners" class="button special">Registry</a></li>
			<li><a href="1-weather.html" class="button small">Saturday Weather Update</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
