<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>You're invited!</h2>
			<p>Explore our website to learn more.</p>
		</header>
		<ul class="actions vertical">
			<li><a href="https://www.hitchd.com/nightgardeners" class="button fit special">Registry</a></li>
			<li><a href="#menu" class="button fit">Learn More</a></li>
		</ul>
	</div>
</section>
