<!-- One -->
<section id="one" class="wrapper style2 special">
	<div class="inner">
		<header class="major">
			<h2>Join us on the fall equinox<br />
			    to celebrate our marriage as equals</h2>
			<p>Our journey to this moment<br>
			   has twisted and turned,<br>
			   paths criss-crossing the halls<br>
			   of Eden Prairie High School<br>
			   and college in Nebraska and Vermont,<br>
			   parting for years, then together again<br>
			   by chance and choice,<br>
			   from the eastern shores<br>
			   of San Francisco Bay and Puget Sound<br>
			   to the Mighty Mississippi<br>
			   and Land of 10,000 Lakes,<br>
			   circling the Twin Cities<br>
			   and common causes of<br>
			   family, friends, bikes, gardens,<br>
			   and life's unsolvable mysteries.
			</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-adjust major style2"><span class="label">Equal Opportunity</span></span>
			</li>
			<li><span class="icon fa-heart major style4"><span class="label">Love</span></span>
			</li>
			<li><span class="icon fa-spinner major style1"><span class="label">Fellowship</span></span>
			</li>
		</ul>
	</div>
</section>
