<!-- Three -->
<section id="three" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Information Kiosk</h2>
			<p>Check out the cards below for high-level information on important topics with links to more detailed information.</p>
		</header>
		<ul class="features">
			<li class="icon fa-hotel">
				<h3>Lodging</h3>
				<p>A hotel block was setup at the <a href="https://www.marriott.com/en-us/hotels/mspsp-minneapolis-marriott-west/overview/">Minneapolis Marriott West</a>, less than 10 minutes from the wedding venue. The block rate is no longer available, however you can still book a room.</p>
			</li>
			<li class="icon fa-gift">
				<h3>Gifts</h3>
				<p>The bride & groom are registered on <a href="https://www.hitchd.com/nightgardeners">hitchd.com</a>. They found it simpler and easier to include experiences in addition to things.</p>
			</li>
			<li class="icon fa-bus">
				<h3>Transportation</h3>
				<p>Bike parking and car parking are available at the venue. Rideshare is encouraged between the hotel and venue. See <a href="2-getting-there.html">"Getting There"</a> for details.</p>
			</li>
			<li class="icon fa-building-o">
				<h3>Venue</h3>
				<p>The wedding and reception will both be held at Westwood Hills Nature Center, a park in the western Twin Cities Metro Area. See <a href="5-venue.html">"Venue"</a> for details.</p>
			</li>
			<li class="icon fa-map-o">
				<h3>Program</h3>
				<p>The wedding ceremony will start shortly after 4:00pm, followed by social hour at 5:00pm, dinner at 6:15pm, and dessert/dancing by 8:00pm. See <a href="4-program.html">"Program"</a> for details.</p>
			</li>
			<li class="icon fa-envelope-o">
				<h3>RSVP</h3>
				<p>You have likely responded to the RSVP already. If you still need it, here is the <a href="https://form.typeform.com/to/GMjgrdzP">form</a>.</p>
			</li>
		</ul>
	</div>
</section>
