<!-- One -->
<section id="one" class="wrapper style2 special">
	<div class="inner">
		<header class="major">
			<h2>Join us on the fall equinox<br />
			    to celebrate our marriage as equals</h2>
			<p>Our journey to this moment has twisted and turned,<br>
			   paths criss-crossing the halls of Eden Prairie High School<br>and college in Nebraska and Vermont,<br>
			   parting for years, then back together by chance and choice,<br>
			   from the eastern shores of San Francisco Bay and Puget Sound<br>
			   back to the Mighty Mississippi and Land of 10,000 Lakes,<br>
			   circling the Twin Cities and common causes of<br>
			   family, friends, bikes, gardens, and life's unsolvable mysteries.
			</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-adjust major style2"><span class="label">Equal Opportunity</span></span>
			</li>
			<li><span class="icon fa-heart major style4"><span class="label">Love</span></span>
			</li>
			<li><span class="icon fa-spinner major style1"><span class="label">Fellowship</span></span>
			</li>
		</ul>
	</div>
</section>
